.notebox {
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 20px;
}

.notebox:hover img{
    cursor: pointer;
    opacity: 1;
    transition: 500ms;
}

.box-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-time img {
    opacity: 0;
}

.notebox textarea {
    flex: 1;
    resize: none;
    color: black;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    outline: none;
    border: none;
}